<!--
PHASE 2 & 3
CCAPDEV S11
    Group Members: 
        Ng, Sherilyn Kaye
        Vizmanos, Julianne 
-->
   <form action="/redirect-movie" method="post" enctype="multipart/form-data">
        <a href="javascript:;" onclick="parentNode.submit();" name = {{m_id}} id = "movieref"> <img src = {{m_image}} alt = {{m_id}} class = "movie2"></a>
        <input type="hidden" name="m_id" value = {{m_id}}>
   </form>  