<!--
PHASE 2 & 3
CCAPDEV S11
    Group Members: 
        Ng, Sherilyn Kaye
        Vizmanos, Julianne 
-->	
                <h3 class="normal6" class="dateSpecs"> {{dateJQ}} </h3>
                <button  class="timeslot" > {{time1JQ}} </button>
                <button  class="timeslot" > {{time2JQ}} </button>
                        <input type="hidden" name="date" value = {{dateJQ}}>
       