<form action="/update-movie-details" method="POST" id="movieForm">
    <input type="hidden" name="movieID" value="{{movieID}}">
    <button type="submit" class="movieref">
        <img src="{{image}}" alt="{{movieID}}" class="movie2">
    </button>
</form>