                    <div class = "commentContainer">
                        <div class = "commentCard">
                            {{!-- <img src = {{this.profilePhoto}} class = "reviewpic"> --}}
                            <div class = "reviewContent">
                                <h3 class = "commenterName">{{reviewer}}</h3>
                                <h2 class = "commenterName"> Rating: {{rating}}</h3>
                                <p>{{description}}</p>
                            </div>
                        </div>
                    </div>