                    <div class = "commentContainer">
                        <div class = "commentCard">
                            <img src = {{this.profilePhoto}} class = "reviewpic">
                            <div class = "reviewContent">
                                <h3 class = "commenterName">{{this.fullName}}</h3>
                                <p>{{this.review}}</p>
                            </div>
                        </div>
                    </div>