<head>
    <title>{{title}}</title>
    <script type="text/javascript" src="../javascript/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../javascript/movie.js"></script>
    <script type="text/javascript" src="../javascript/general.js"></script>
        <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
        <link rel="stylesheet" href="../css/cart.css">
    <link rel="stylesheet" type="text/css" href="../css/account.css">

    
</head>
<body>
    <div id = "main">
        <a href = "/main"><img src = "../images/icons/logo.png" id = "logo"></a>
        <h2 id = "title">FILMWORKS</h2>
        <form action="/find-movie" method="post" enctype="multipart/form-data">
            {{!-- <input type="submit" name="searchbutton" id="searchbtn" value = "SEARCH"> --}}
            {{!-- <input type="text" name="search" id="searchmovie" placeholder = "Enter Movie Name"> --}}
        </form>
        <a class = "toolbarlinks" href = "/logout">LOGOUT</a>
        {{!-- <a class = "toolbarlinks" href = "/cart">CART </a> --}}
        <a class = "toolbarlinks" href = "/analytics">ANALYTICS</a>
        <a class = "toolbarlinks" href = "/account">ACCOUNT</a>
        <a class = "toolbarlinks" href = "/main">HOME</a>
        <div class = "curtain">
            {{{body}}}
        </div>