<!--
PHASE 2 & 3
CCAPDEV S11
    Group Members: 
        Ng, Sherilyn Kaye
        Vizmanos, Julianne 
-->
<!DOCTYPE html>
<head>
    <link rel="icon" href="../images/icons/logo.png">
    <title>{{title}}</title>
    <script type="text/javascript" src="../javascript/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../javascript/login.js"></script>
    <script type="text/javascript" src="../javascript/movie.js"></script>
    <script type="text/javascript" src="../javascript/general.js"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div>
        <a href = "/"><img src = "../images/icons/logo.png" id = "logo"></a>
        <h2 id = "title">FILMWORKS</h2>
        <div class = "curtain">
            {{{body}}}
        </div>

    </div>
        
</body>