<!--
PHASE 2 & 3
CCAPDEV S11
    Group Members: 
        Ng, Sherilyn Kaye
        Vizmanos, Julianne 
-->  
                <img src = {{profile_pic}} id = "account_icon">
                <h2 class = "normal1">{{full_name}}</h2>

                <h1 class = "normal3">TO PREMIERE</h1>
                {{#each premieringMovies}}
                    {{> frontTicket}}
                {{/each}}

                <h1 class = "normal3">DONE PREMIERING</h1>
                {{#each doneMovie}}
                    {{> frontTicket}}
                {{/each}}
