<!--
PHASE 2 & 3
CCAPDEV S11
    Group Members: 
        Ng, Sherilyn Kaye
        Vizmanos, Julianne 
-->  
                <img src = "../images/icons/profile.png" id = "account_icon">
                <button class="deleteAccount">Delete Account</button>
                <h2 class = "normal1">{{l_name}}, {{f_name}}</h2>
                <h4 class = "normal2"><center>ACCOUNT STATUS: {{status}}</center></h4>

                <h2 id = "normal4">USERNAME: {{username}}</h1>
                

                <h1 class = "normal3">TO PREMIERE</h1>
                {{#each premieringMovies}}
                    {{> frontTicket}}
                {{/each}}

                <h1 class = "normal3">DONE PREMIERING</h1>
                {{#each doneMovie}}
                    {{> frontTicket}}
                {{/each}}
