<h1 class = "checkoutText">MOVIE CART</h1>
<div class="checkoutCart">
    <div class="allMovies">
        {{#each item}}
            {{>cartitems}}
        {{/each}}
    </div>
</div>

<div class="cartTotal">
    <div class="cartInfo">
        <p>
            <span>Number of Tickets:</span>
            <span id="quantity">{{totalQuantity}}</span>
        </p>
        <p>
            <span>Total:</span>
            <span id="total">{{totalPrice}}</span>
        </p>
    </div>
    <a href = "/payment">
        <button class="proceedCheckout" href = "/payment">Proceed to Checkout</button>
    </a>
</div>