<div class = "sign_inform">
                <!--<img src = "/images/icons/cameraleft.png" class = "icons">-->
                <form id = "loginform" action = "/post-delete-movie" method = "POST" enctype="application/x-www-form-urlencoded">
                    <h2 class = "divh2">DELETE MOVIE</h2>
                    <label for="movie_id" class = "normal"><b>MOVIE TITLE</b></label>
                    <input type="text" id = "movie_title" autocomplete = "off" placeholder="Enter movie ID" name="movie_title" required>
                    <input type="submit" id = "commentButton" value = "DELETE MOVIE">
                </form>
</div>