<!--
PHASE 2 & 3
CCAPDEV S11
    Group Members: 
        Ng, Sherilyn Kaye
        Vizmanos, Julianne 
-->
<div class = "sign_upform">
    <form id = "registerform" action = "/postregister" method ="post" enctype="multipart/form-data">
        <h2 class = "divh2">SIGN UP</h2>

        <label for="f_name" class = "normal"><b>First Name</b></label>
        <input type="text" name = "f_name" autocomplete = "off" placeholder="Enter first name" id="f_name" required>
                    
        <label for="l_name" class = "normal"><b>Last Name</b></label>
        <input type="text" name = "l_name" autocomplete = "off" placeholder="Enter last name" id="l_name" required>

        <label for="phone" class="normal"><b>Phone Number</b></label>
        <input type="text" name="phone" autocomplete="off" placeholder="Enter phone number" id="phone_num" required>
        
        <label for="email" class = "normal"><b>Email</b></label>
        <input type="email" name = "email" autocomplete = "off" placeholder="Enter email address" id="email" required>
                
        <label for="password" class = "normal"><b>Password</b></label>
        <input type="password" name = "password" maxlength="20" autocomplete = "off" placeholder="Enter Password" id="password" required>

        <label for="cpassword" class = "normal"><b>Confirm Password</b></label>
        <input type="password" name = "cpassword" maxlength="20" autocomplete = "off" placeholder="Confirm Password" id="cpassword" required>

        <label for="profile_pic" class = "normal"><b>Profile Picture</b></label>
        <input type="file" id = "file" name="file">
        <br>
        <a id = "link" href = "/login">Already have an account? Click here to login.</a>
        <p id = "error">{{error}}<p>
        <input type="submit" id = "register" value = "Register">
    </form>
</div>