<div class = "sign_inform">
                <!--<img src = "/images/icons/cameraleft.png" class = "icons">-->
                <form id = "loginform" action = "/update-movie-details" method = "POST">
                    <h2 class = "divh2">UPDATE MOVIE</h2>
                    <label for="movie_id" class = "normal"><b>MOVIE TITLE</b></label>
                    <input type="text" id = "movie_title" autocomplete = "off" placeholder="Enter movie title" name="movie_title" required>
                    <input type="submit" id = "commentButton" value = "UPDATE DETAILS">
                </form>
</div>